---
layout: default
---

<style>

	.post {
		padding-top: 90px;
		padding-bottom: 90px;
		padding-left: 90px;
		padding-right: 60px;
	}

	.post .col-left {
		color: rgba(0, 0, 0, 0.8);
	}

	.post img {
		width: 100%;
	}

	.post .heading {
		opacity: 1 !important;
	}

	.post pre, .post code {
		white-space: pre-wrap;       /* css-3 */
		white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
		white-space: -pre-wrap;      /* Opera 4-6 */
		white-space: -o-pre-wrap;    /* Opera 7 */
		word-wrap: break-word;       /* Internet Explorer 5.5+ */
	}

	.post pre {
		box-sizing: border-box;
		width: 100%;
		background-color: #272822;
		padding-top: 18px;
		padding-bottom: 18px;
		padding-left: 40px;
		padding-right: 40px;
		color: white;
	}

	.post figure {
		margin: 0 !important;
	}

	.post .tags a {
		box-sizing: border-box;
		display: inline-block;
		text-decoration: none;
		padding: 8px 16px 8px 16px;
		margin-top: 8px;
		border: 2px solid blue;
		font-weight: 500;
	}

	.post .tags a div {
		display: inline;
		color: blue;
	}

	.logo {
		padding-top: 8px;
		padding-bottom: 4px;
		padding-left: 16px;
		padding-right: 16px;
		border-bottom: 4px solid blue;
		transform: translateX(-50%) rotateZ(90deg) translateY(-50%);
		position: fixed;
		left: 0;
		top: 220px;
	}

	.back {
		position: fixed;
		top: 8px;
		left: 8px;
		cursor: pointer;
	}
	
	.back i {
		padding: 8px;
		border-radius: 100%;
	}

	.back:hover > i {
		background-color: rgba(0, 0, 255, 0.1);
	}

	.fade-in {
		opacity: 0;
		-webkit-transition: opacity 0.3s ease-in-out;
		   -moz-transition: opacity 0.3s ease-in-out;
		        transition: opacity 0.3s ease-in-out;
	}

	#dummyLeftCol {
		-webkit-transition: opacity 0.3s ease-in-out;
		   -moz-transition: opacity 0.3s ease-in-out;
		        transition: opacity 0.3s ease-in-out;
	}

	.hover-effect {
		opacity: 0.3;
	}

	.hover-effect:hover {
		opacity: 1;
	}

	@media only screen and (max-width: 1120px){
		
		.post {
			padding: 90px 30px 30px 64px;
		}

		.post .row {
			box-sizing: border-box;
			width: 98%;
		}
	
	}
	
</style>

<script type="text/javascript">

	var lastScrollTop = 0;

	onLoadPage = () => {
		let fadein = document.getElementsByClassName('fade-in');
		let text = document.getElementsByClassName('col-right')[0];
		let words = text.innerText.split(' ').length;
		let readTime = words / 200;
		let images = text.getElementsByTagName('img').length;
		readTime += images * 12 / 60;
		document.getElementById('read-time').innerHTML = Math.ceil(readTime) + ' MIN READ';
		setTimeout(() => {
			requestAnimFrame(() => {
				for (let i = 0; i < fadein.length; i++)
					fadein[i].style.opacity = 1;
				console.log(document.body.offsetWidth);
				if (document.body.offsetWidth > 1120) {
					detachLeftCol();
					window.onscroll = () => {
						var st = window.pageYOffset || document.documentElement.scrollTop;
						if (st > lastScrollTop)
							document.getElementById('dummyLeftCol').className = 'col-left sans hover-effect'
						else
							document.getElementById('dummyLeftCol').className = 'col-left sans';
						lastScrollTop = st;
					}
				}
			});
		}, 100);

		document.getElementById('fb-comments').setAttribute('data-href', window.location);
	}

	function detachLeftCol() {
		let leftCol = document.getElementById('leftCol');
		let dummyLeftCol = leftCol.cloneNode(true);
		dummyLeftCol.id = 'dummyLeftCol';
		dummyLeftCol.style.position = 'fixed';
		dummyLeftCol.style.top = leftCol.offsetTop + 'px';
		dummyLeftCol.style.left = leftCol.offsetLeft + 'px';
		dummyLeftCol.style.width = leftCol.offsetWidth + 'px';
		dummyLeftCol.style.height = leftCol.offsetHeight + 'px';
		requestAnimFrame(() => {
			document.getElementById('post').appendChild(dummyLeftCol);
			leftCol.style.visibility = 'hidden';
		});
	}

</script>

<a class="fade-in back" href="javascript: history.back();">
	<i class="material-icons blue sub-heading">arrow_back</i>
</a>

<div class="fade-in logo sub-heading sans"><span class="blue">Hrishikesh</span>Hiraskar</div>

<div class="post" id="post">
	<div class="row">
		
		<div class="col-left sans" id="leftCol">
			<div class="heading black">{{ page.title }}</div>
			<div class="fade-in">
				<br>
				{{ page.date | date: "%B %-d, %Y" | upcase }}<br><br>
				<div id="read-time"></div>
				<br>
				TAGS
				<div class="tags">
					{% for atag in page.tags %}
						<a href="{{ site.baseurl }}/tags#{{ atag | upcase }}">
							<div>{{ atag | upcase }}</div>
						</a>
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="fade-in col-right serif">
			<div class="sub-heading"><b>{{ page.description }}</b></div>
			{{ content }}

			<!-- Facebook Comments -->
			<div id="fb-root"></div>
			<script>(function (d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) return;
					js = d.createElement(s); js.id = id;
					js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=170147553648927&autoLogAppEvents=1';
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>
			<br>
			<div><h2>Comments</h2></div>
			<div id="fb-comments" class="fb-comments" data-numposts="3"></div>
		</div>

	</div>
</div>